@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@300&display=swap);

.quicksand-light {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #0D2C54;
  --secondary-color: #7FB800;
  --accent1-color: #00A6ED;
  --accent2-color: #F6511D;
  --heading-font: "Amatic SC", serif;
  --paragraph-font: "Quicksand", serif;
  --nav-background-color: #00A6ED;
  --nav-link-color: #0D2C54;
  --nav-hover-link-color: #0D2C54;
  --nav-hover-background-color: #00A6ED;
}



body {  
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0;
}

header {
    background-color: #00A6ED;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    border-bottom: 1px solid #0D2C54;
    font-family: var(--heading-font);
}

header img {
    width: 125px;
    height: auto;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 15px;
    background: #00A6ED;
    padding: 0.5rem;
    opacity: 0.8;
}

.hero article {
    position: absolute;
    background: #ffffff;
    margin-left: 20px;
    padding: 0.5rem;
    opacity: 0.8;
    top: 120px;
    left: 30px;
    right: 30px;
}

.hero article p {
    margin-top: -1px;
    color: #000;
}

.hero article img {
    float: right;
    width: 35%;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2.5rem;
}

p {
    color: var(--primary-color);
}

nav {
    display: flex;
    text-align: right;
    font-size: 2.2rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a hover {
    color: var(--nav-hover-link-color);
    background: #00A6ED;
}

.adventure h2 {
    text-align: left;
    grid-column: 1/-1;
    margin-bottom: 20px;
    font-family: var(--heading-font);
    font-size: 2.5rem;
}

.adventure figure {
    margin: 0;
    padding: 10px;
}

.adventure img {
    position: relative;
    width: 80%;
    height: auto;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: var(--heading-font);
    font-size: 1.6rem;
}

footer p {
    flex: 1;
    position: relative;
    text-align: center;
    justify-content: space-between;
}

.logo img {
    margin: 10px;
    width: 90px;
    height: auto;
}

history {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    background-color: #00A6ED;
    padding-top: 40px;
    margin-top: 20px;
    height: auto;
    font-family: var(--heading-font);
    font-size: 2.2rem;
}

history p {
    margin: 20px;
}

history h2 {
    position: absolute;
    top: 0;
    left: 22px;
    right: 0;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2.2rem;
}

social-media {
    display: flex;
    position: relative;
    justify-content: right;
}
    
