@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@300&display=swap);

.quicksand-light {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #0D2C54;
  --secondary-color: #7FB800;
  --accent1-color: #00A6ED;
  --accent2-color: #F6511D;
  --heading-font: "Amatic SC", serif;
  --paragraph-font: "Quicksand", serif;
  --nav-background-color: #00A6ED;
  --nav-link-color: #0D2C54;
  --nav-hover-link-color: #0D2C54;
  --nav-hover-background-color: #00A6ED;
}

body {  
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0;
}

.history {
    position : relative;
    display : flex;
    align-items : center;
    text-align : left;
    display : grid;
    grid-template-columns : 1fr 250px 1fr;
    background-color : #00A6ED;
    padding-top : 40px;
    margin-top : 20px;
    height : auto;
}

.history p {
    margin : 20px;
}

.history h2 {
    position : absolute;
    top : 0;
    left : 22px;
    right : 0;
    text-align : center;
}

.history img {
    display : block;
    width : 100%;
    margin : 10px;
}

.hero {
    position : relative;
    display : flex;
    align-items : center;
}

.hero img {
    display : block;
    width : 100%;
    height : auto;
}

.hero h1 {
    position : absolute;
    text-align : center;
    left : 0;
    right : 0;
    top : 15px;
    background : #00A6ED;
    padding : 0.5rem;
    opacity : 0.8;
    font-family: var(--heading-font);
}

.hero article {
    position : absolute;
    background : #ffffff;
    margin-left : 20px;
    padding : 0.5rem;
    opacity : 0.8;
    top : 120px;
    left : 30px;
    right : 30px;
}

.hero article p {
    margin-top : -1px;
    color: #0D2C54
}

.hero article img {
    float : right;
    width : 35%;
}

h1, h2 {
    color : var(--nav-hover-link-color);
    font-family: var(--heading-font);
}

header {
    background-color : #00A6ED;
    margin : 1rem auto;
    display : grid;
    grid-template-columns : repeat(3,auto);
    align-items : center;
    border-bottom : 1px solid #ccc;
    max-width : 1000px;
    font-family: var(--heading-font);
}

header img {
    width : 125px;
    height : auto;
}

nav {
    display : flex;
    text-align : right;
    font-size : 1.3rem;
}

nav a {
    display : block;
    color : var(--primary-color);
    text-decoration : none;
    padding : 1rem;
    font-size: larger;
}

nav a:hover {
    color : var(--nav-hover-link-color);
    background-color :#7FB800;
}

.adventure {
    display : grid;
    grid-template-columns : repeat(5,auto);
    gap : 5px;
    justify-content : center;
}
    
.adventure h2 {
    text-align : center;
    grid-column : 1 / -1;
    margin-bottom : 20px;
}

.adventure figure {
    margin : 0;
    padding : 10px;
    grid-template-columns : repeat(auto-fit,minmax(150px,1fr));
}

.adventure img {
    position : relative;
    width : 100%;
    height : 100px;
    object-fit : cover;
}

footer {
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 20px;
}

footer p {
    flex : 1;
    position : relative;
    text-align : center;
    justify-content : space-between;
}

.social-media {
    display : flex;
    position : relative;
    justify-content : right;
}

.heading {
    text-align : center;
    margin-bottom : 20px;
    padding : 20px;
}

.container {
    display : flex;
    align-items : flex-start;
    background : #00A6ED;
    height : 300px;
}

.text {
    flex : 1;
    padding-left : 15px;
}

.map {
    flex : 1;
    width : 50%;
    position : relative;
}

.map iframe {
    width : 100%;
}

.employee {
    display : grid;
    grid-template-columns : repeat(5,auto);
    gap : 5px;
    justify-content : center;
    padding : 10px;
}

.employee h2 {
    text-align : center;
    grid-column : 1 / -1;
    margin-bottom : 20px;
}

.employee figure {
    margin : 0;
    padding : 10px;
    grid-template-columns : repeat(auto-fit,minmax(150px,1fr));
}

.employee img {
    position : relative;
    width : 100%;
    height : 200px;
    object-fit : cover;
}
    
form {
    padding : 20px;
    background-color : #00A6ED;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-self : center;
}

.form-item {
    display : flex;
    align-self : center;
    margin-bottom : 10px;
}

input {
    margin-left : 5px;
    margin-right : 20px;
}

.message, .type {
    margin : 5px;
    align-self : center;
}

.message textarea {
    width : 100%;
    display : flex;
}

button {
    margin : 20px;
    padding : 10px;
    width : 20%;
    background-color : #7FB800;
    border : none;
    border-radius : 5px;
    font-size : 1.1rem;
    cursor : pointer;
    align-self : center;
}

input[type="text"], input[type="email"], textarea {
    background-color : #ffffff;
}

button:hover {
    color : #7FB800;
    background-color : #0D2C54;
}

.trip {
    display : grid;
    background-color : #00A6ED;
    grid-template-columns : repeat(3,auto);
    gap : 5px;
    justify-content : center;
    padding : 10px;
}
    
.trip p {
    text-align : center;
    margin-bottom : 10px;
}

.trip figure {
    margin : 0;
    padding : 10px;
    grid-template-columns : repeat(auto-fit,minmax(150px,1fr));
    font-size : 14px;
}

.trip img {
    position : relative;
    width : 100%;
    height : 150px;
    object-fit : cover;
}

.trip button {
    width : 80%;
    align-content : center;
}

table {
    width : 100%;
    border-collapse : collapse;
    margin-top : 20px;
}

th, td {
    border : #bcbcbc solid 1px;
    text-align : left;
    padding : 8px;
}
    
th {
    background-color : #F6511D;
}
    
.home {
    position : relative;
    display : flex;
    align-items : center;
    margin-bottom : 15px;
}

.home img {
    display : block;
    width : 100%;
    height : 375px;
}

.home h1 {
    position : absolute;
    text-align : center;
    left : 0;
    right : 0;
    justify-content : center;
    background : #ffffff;
    padding : 0.5rem;
    opacity : 0.8;
}